<html xmlns:th="https://www.thymeleaf.org">
  <body>

    <div>
      <span th:text="${username}"></span>
      <form method="POST" th:action="@{/logout}" style="display:inline">
        <button type="submit">Logout</button>
      </form>
    </div>

    <div th:if="${message}">
      <h2 th:text="${message}"/>
    </div>

    <div>
      <form method="POST" enctype="multipart/form-data" th:action="@{/}">
        <table>
          <tr>
            <td>File to upload:</td><td><input type="file" name="file" /></td>
            <td></td><td><input type="submit" value="Upload" /></td>
            <td></td>
          </tr>
        </table>
      </form>
    </div>

    <div>
      <form method="POST" th:action="@{/files/delete}">
        <ul>
          <li th:each="file : ${files}">
            <input type="checkbox" name="files" th:value="${file}" />
            <a th:href="@{/files/{file}(file=${file})}" th:text="${file}" />
          </li>
        </ul>
        <button type="submit"> Delete selected</button>
      </form>
    </div>

  </body>
</html>
